/* OrderPlaced.css */
.order-placed-container {
  text-align: center;
  padding: 20px;
}

.order-details {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.order-details h2 {
  margin-bottom: 10px;
}

.order-details ul {
  list-style-type: none;
  padding: 0;
}

.order-details li {
  margin-bottom: 5px;
}
